
@import url('https://fonts.googleapis.com/css2?family=Readex+Pro:wght@500&display=swap');
*{
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
    border-radius: 10px;
    font-family: 'Readex Pro', sans-serif;
}

body{
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
#container{
    border: 1px darkorange solid;
    width: 25rem;  
    padding: 1rem 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    
}
#result{
    width: 90%;
    height: 100px;
    border: 1px red solid;
}
button{
    border: none;
    font-size: 2rem;
}
#buttons{
    margin-top: 1rem;
    background: black;
    display: grid;
    grid-template-columns: repeat(4, 5rem);
    grid-template-rows: repeat(6, 5rem);
    gap: 10px;
    grid-template-areas: 
    "one two three minus"
    "four five six add"
    "seven eight nine add"
    "zero multiply dot divide"
    "equals power open close"
    "delete delete clear clear";
}
#zero{
    grid-area: zero;
}
#add{
    grid-area: add;
}
#minus{
    grid-area: minus;
}
#equals{
    grid-area:equals;
}
#multiply{
    grid-area: multiply;
}
#divide{
    grid-area: divide;
}
#open{
    grid-area: open;
}
#close{
    grid-area: close;
}
#delete{
    grid-area: delete;
}
#clear{
    grid-area: clear;
}
.numbers:hover{
    background: deepskyblue;
}
.operations:hover{
    background: darkorchid;
}
.actions:hover{
    background: red;
}